body { 
    background-color: white;
    background-image: url(./pokemons.png/eternatusfundo.png);
background-size:cover;
background-repeat: no-repeat;

}
h1{
    text-align: center;
    color: rgb(238, 241, 205);
}
p {
    font-size: larger;
    padding: 18px;
   background-color:rgba(240, 255, 255, 0.255);
    margin: auto;
    max-width: 500px;   
    color:rgb(188, 188, 200);
}
div.video {
    background-color: rgba(255, 168, 55, 0);
    padding: 20px;
    position: relative;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar {
 width: 0px;
}
::-webkit-scrollbar-thumb {
    width: 0px;
}   