body { 
    background-color: white;
    background-image: url(./pokemons.png/mewtwofundo.png);
background-position: center;
background-size:cover;
background-repeat: no-repeat;
}  
h1 {  
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    font-size: large    ;
    padding: 18px;
   background-color: rgba(255, 255, 255, 0.234);
    margin: auto;
    max-width: 500px;
    color: rgb(96, 23, 148);
} 
::-webkit-scrollbar {
 width: 0px;
}
::-webkit-scrollbar-thumb {
    width: 0px;
}
div.video {
    background-color: rgba(255, 168, 55, 0);
    padding: 20px;
    position: relative;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
